header {
  background-color: rgb(54, 43, 199);
}
.navbar-brand img {
  width: 50px;
  height: 50px;
  transform: translatey(30px) translateX(20px) scale(1.5);
}
header .logo img {
  width: 50px;
  height: 50px;
}
header .profile img {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

ul li {
  margin: 0 20px;
  font-size: 20px;
}

.gambarr img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

.containerr {
  margin: 50px 0;
}

.containerr .daftartiket {
  width: 90%;
  margin: auto;
}

.containerr .daftartiket .tiket1 {
  margin: 30px 0;
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
  padding: 15px;
}

.containerr .daftartiket .tiket1 .ke1 {
  display: flex;
  justify-content: space-between;
}
.containerr .daftartiket .tiket1 .ke1 img {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}

.containerr .daftartiket .tiket1 .ke2 .atas p {
  color: gray;
}

.containerr .daftartiket .tiket1 .ke2 .bawah {
  display: flex;
  justify-content: space-between;
}
.containerr .daftartiket .tiket1 .ke2 .bawah p {
  color: blue;
}

/* tiket 2 */

.containerr .daftartiket {
  width: 90%;
  margin: auto;
}

.containerr .daftartiket .tiket2 {
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
  margin: 30px 0;
  padding: 15px;
}

.containerr .daftartiket .tiket2 .ke1 {
  display: flex;
  justify-content: space-between;
}
.containerr .daftartiket .tiket2 .ke1 img {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}

.containerr .daftartiket .tiket2 .ke2 .atas p {
  color: gray;
}

.containerr .daftartiket .tiket2 .ke2 .bawah {
  display: flex;
  justify-content: space-between;
}
.containerr .daftartiket .tiket2 .ke2 .bawah p {
  color: blue;
}

/* tiket 3 */

.containerr .daftartiket {
  width: 90%;
  margin: auto;
}

.containerr .daftartiket .tiket3 {
  border: 1px solid black;
  box-shadow: 1px 1px 3px black;
  padding: 15px;
  margin: 30px 0;
}

.containerr .daftartiket .tiket3 .ke1 {
  display: flex;
  justify-content: space-between;
}
.containerr .daftartiket .tiket3 .ke1 img {
  width: 50px;
  height: 50px;
  border: 1px solid blue;
}

.containerr .daftartiket .tiket3 .ke2 .atas p {
  color: gray;
}

.containerr .daftartiket .tiket3 .ke2 .bawah {
  display: flex;
  justify-content: space-between;
}
.containerr .daftartiket .tiket3 .ke2 .bawah p {
  color: blue;
}

.container2 {
  margin: 0 0 40px;
}

.container2 h1 {
  width: 42%;
  margin: 0 auto;
  padding: 10px;
  background-color: blue;
  text-align: center;
  border-radius: 40px;
  border: 2px solid black;
}

.container2 h1 a {
  text-decoration: none;
  color: white;
}

.container2 h1:hover {
  background-color: white;
  border: 1px solid blue;
}

.container2 h1:hover a {
  color: blue;
}
footer {
  background-color: blue;
  color: white;
}
.footer {
  width: 90%;
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.footer .kiri {
  width: 30%;
}

.footer .tengah {
  width: 30%;

  display: flex;
  justify-content: center;
}

.footer .tengah img {
  width: 130px;
  height: 110px;
}

.footer .kanan {
  width: 30%;
}
footer .bawah {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}

footer .bawah .kotak {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 50px;
}

footer .kotak1 {
  background-image: url(icons8-facebook-48.png);
  background-size: cover;
}

footer .kotak2 {
  background-image: url(icons8-instagram-48.png);
  background-size: cover;
}

footer .kotak3 {
  background-image: url(icons8-twitter-48.png);
  background-size: cover;
}

footer .kotak4 {
  background-image: url(icons8-youtube-48.png);
  background-size: cover;
}

@media (max-width: 1000px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-brand {
    display: contents;
  }
  .navbar-brand img {
    width: 30px;
    height: 30px;
    transform: translatey(30px) translateX(20px) scale(2.5);
  }
  header .logo img {
    display: none;
  }
  header .profile img {
    display: none;
  }
  .gambarr img {
    display: flex;
  }
}

@media (max-width: 500px) {
  .navbar-nav {
    text-align: center;
  }
  .navbar-brand {
    display: contents;
  }
  .navbar-brand img {
    width: 30px;
    height: 30px;
    transform: translatey(30px) translateX(20px) scale(2.5);
  }
  header .logo img {
    display: none;
  }
  header .profile img {
    display: none;
  }
  .gambarr img {
    display: flex;
  }

  .container2 h1 {
    width: 90%;
  }
  .footer {
    flex-direction: column;
  }

  .footer .kiri {
    order: 1;
    width: 90%;
    margin: 10px auto;
  }

  .footer .tengah {
    order: 3;
    width: 90%;
    width: 90%;
    margin: auto;
  }

  .footer .kanan {
    order: 2;
    width: 90%;
    width: 90%;
    margin: 10px auto;
  }
}
